body {
  background: rgba(127, 255, 212, 0.4);
}

input {
  display: block;
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
}
form h2 {
  text-align: center;
}
.btn-wrap {
  margin-top: 20px;
}

.password-block {
  position: relative;
  max-width: 500px;
  margin-top: 20px;
}
.password-block input {
  margin-top: 0;
}
.password-block .hide-btn {
  position: absolute;
  background: none;
  border: none;
  right: 0;
  top: 0;
}
